body {
  	margin: 0;
	padding: 0;
	font-family: "Raleway";
	font-weight: 400;
}
table,
th,
td {
  border: 1px solid green;
  border-collapse: collapse;
  margin: 15px 15px;
  font-size: 0.9em;
}
table {
  border-radius: 5px 5px 0 0;
  border-radius: 15px;
  border-spacing: 0;
}
table td:first-child {
  width: 5%;
}
table td:nth-child(2) {
  width: 20%;
}
table td:nth-child(3) {
  width: 20%;
}
table td:nth-child(4) {
  width: 20%;
}
table td:last-child {
  width: 5%;
}
